.passwordGroup {
  margin-top: 16px;
}
.message-alert {
  width: 80%;
  margin: auto;
  font-size: 14px;
  color: rgb(175, 47, 47);
}
.invalid-messages {
  width: 80%;
  margin: 0;
  font-size: 14px;
}

.unValidated {
  color: rgb(175, 47, 47) !important;
  text-decoration: none !important;
}
.validated {
  color: rgb(85, 186, 163);
  text-decoration: line-through;
}
.eye-icon {
  position: absolute;
  top:282px;
  right: 3%;
  cursor: pointer;
}
.error-icon-pconfirm {
  bottom: 78px;
  right: 3%;
}
