<form [formGroup]="formModel">
  <div formGroupName="passwordGroup" class="passwordGroup">
    <input [type]="isVisible ? 'text' : 'password'" placeholder="Password" formControlName="password"
           [class.invalid]="formModel.get('passwordGroup').get('password').touched && !formModel.get('passwordGroup').get('password').valid"/>
    <span class="icon-eye eye-icon"
          (mouseover)="isVisible=true"
          (mouseleave)="isVisible=false"></span>
    <!-- When the password input is touched but no value is entered, this part will show -->
    <div [hidden]="formModel.get('passwordGroup').get('password').value || formModel.get('passwordGroup').get('password').untouched"
          class="message-alert">
      Enter a combination of at least 6 numbers and letters.
    </div>
    <!-- it will list all validations of password  -->
    <div [hidden]="formModel.get('passwordGroup').get('password').untouched
                   || formModel.get('passwordGroup').get('password').valid
                   || !formModel.get('passwordGroup').get('password').value">
      <div>
        <ul class="invalid-messages">
          <li class="validated" [class.unValidated]="formModel.hasError('minlength', ['passwordGroup', 'password']) || formModel.hasError('required', ['passwordGroup', 'password'])">
            The password length must be at least 6.
          </li>
          <li class="validated" [class.unValidated]="formModel.hasError('noCharacter', ['passwordGroup', 'password'])">
            The password must contain at least 1 character.
          </li>
          <li class="validated" [class.unValidated]="formModel.hasError('noDigit', ['passwordGroup', 'password'])">
            The password must contain at least 1 digit character.
          </li>
          <li class="validated" [class.unValidated]="formModel.hasError('hasSymbol', ['passwordGroup', 'password'])">
            The password length must not have special character .
          </li>
        </ul>
      </div>
    </div>

    <!-- confirmation input  -->
    <input type="password" placeholder="Comfirm Password" formControlName="pconfirm"
           [class.invalid]="!formModel.get('passwordGroup').valid
                            && formModel.get('passwordGroup').get('pconfirm').touched"
                            (focus)="errorIconHide=true"
                            (focusout)="errorIconHide=false"/>

    <div [hidden]="formModel.get('passwordGroup').valid
                   || formModel.get('passwordGroup').get('pconfirm').untouched
                   || errorIconHide">
      <span class="icon-notification error-icon error-icon-pconfirm"
            (mouseover)="showErrorMessage(formModel.hasError('required',['passwordGroup', 'pconfirm']),
                         formModel.hasError('mismatch','passwordGroup'),
                         !formModel.get('passwordGroup').get('password').valid)"
            (mouseleave)="hideErrorMessage()"></span>
    </div>
  </div>
</form>

<!-- error message -->
<div class="message-error" [hidden]="requiredError">
  <div class="triangle"></div>
  Please confirm your password.
</div>
<div class="message-error" [hidden]="mismatchError">
  <div class="triangle"></div>
  Password must match confirm password.
</div>
<div class="message-error" [hidden]="passwordError">
  <div class="triangle"></div>
  Your password is invalid.
</div>
